<% teacher.comment_teachers.each do |comment| %>
 <tr>
    <td><%= link_to comment.user.name, user_path(comment.user) %></td>
    <td><%= comment.comment %></td>
    <td>
     <% if comment.user == current_user %>
      <button type="button" class="btn btn-white btn-sm" data-toggle="collapse" data-target="#demo">▼</button>
      <div id="demo" class="collapse">
      <%= link_to "削除", teacher_post_comment_teacher_path(id: comment.id, teacher_post_id: teacher.id), class:"text-danger", method: :delete, remote: true %>
      </div>
     <% end %>
    </td>
 </tr>
 <br>
<% end %>