<div class="student-title mb-5">
  <h1 class="text-center">〜教わりたい方人募集中〜</h1>
</div>

  <div class="row ml-5">
    <!--画面左側の新規投稿ページへのリンクがある範囲-->
    <div class="student-left col-md-3">
      <%= link_to new_teacher_post_path do %>
            <i class="fas fa-plus-square text-dark fa-2x new-button"></i>
            <span class="h2 text-dark">新規投稿する</span>
      <% end %>
    </div>
    <!--画面真ん中の一覧表示がされてる範囲-->
    <div class="student-center col-md-6 overflow-auto" style="width:100%; height:800px;">
      <!--投稿一覧 ここから-->
      <div class="teacher_post-tbody">
        <%= render 'teacher_posts/index', teacher_post: @teacher_post, comment_teacher: @comment_teacher %>
      </div>
      <!--投稿一覧 ここまで-->
      
      <!--ーーーーーーーーーーーーーーーーーーーーーーここから下は試しに書いてるだけーーーーーーーーーーーーーーーーーーーーーーーーー-->
      <p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p>
      <!--ーーーーーーーーーーーーーーーーーーーーーーここから上は試しに書いてるだけーーーーーーーーーーーーーーーーーーーーーーーーー-->
    </div>
    <div class="col-md-3"><p>aaaaa</p></div>
  </div>
