<div class="student-title pt-2 pb-2 mb-4 index-search d-flex align-items-center justify-content-center border-bottom">
  <div class="col-md-5">
    <hr><h3 class="text-center link">フォロー/フォロワーページ</h3><hr>
  </div>
</div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="student-title">
        <hr><h4 class="text-center">フォロワー</h4><hr>
      </div>
    </div>
    <div class="col-md-3">
      <div class="student-title">
        <hr><h4 class="text-center">フォロー中</h4><hr>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row ml-4">
    <!--画面左側-->
    <div class="student-left col-md-3">
    </div>
    <div class="student-center col-md-3 overflow-auto" style="width:100%; height:500px;">
      <%= render 'relationships/follower', users: @users %>
    </div>
    <div class="student-center col-md-3 overflow-auto" style="width:100%; height:500px;">
      <%= render 'relationships/follow', users_follower: @users_follower %>

    </div>
    <!--画面右側-->
    <div class="col-md-3"></div>
  </div>
