<div class="sub-title pt-2 pb-2 mb-2 mr-3">
  <div class="col-md-4 offset-md-3">
    <hr><h3 class="text-center link">通知一覧</h3><hr>
  </div>
</div>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
 <%= render notifications %>
 <%= paginate notifications %>
<% else %>
 <p>通知はありません</p>
<% end %>