<h4 class="font-weight-bold mt-5 ml-2 mb-3"><i class="fas fa-crown"></i>Student側：週間ランキング</h4>
<div class="col-md-3 col-8 mt-3">
  <%= render 'student_posts/ranking', favorite_rank: @favorite_rank, comment_rank: @comment_rank, ranking_posts: @ranking_posts, ranking_users: @ranking_users %>
</div>
