<html>
  <head>
      <title class="text-blue">MeetSnow</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>
    <body>
      <div class="top-move">
        <div class="up">
          <a class="navbar-brand text-info" href="/">
            <span>Meet snow</span>
          </a>
        </div>
        <div class="down">do</div>
        <div class="line">kk</div>
        <div class="top-main">
          <img src="/assets/alts_jump.jpg" alt="">
          <a class="" href="/users/sign_in">
            <p class="top-meet_snow">Meet snow</p>
            <span class="top-sub">(↑始める方はここをクリック)</span>
          </a>

        </div>
      </div>
    </body>
</html>



