<div class="sub-title pt-2 pb-2 mb-2">
  <div class="col-md-4 offset-md-3">
    <hr><h3 class="text-center link">DMページ</h3><hr>
  </div>
</div>

<div class="row mb-3 mt-4">
  <div class="col-md-2 col-1"></div>
  <!--DMでの相手の一覧表示記入場所 始まり-->
  <%= render 'rooms/rooms', rooms: @rooms, last_one: @last_one %>
  <!--DMでの相手の一覧表示記入場所 終わり-->
  <!--DMで相手とのやり取りする場所 始まり-->
  <div class="col-md-4 border bg-white col-6 res-link" style="width:100%; height:540px;">
        <!--やり取りする相手の名前表示-->
    <hr>
    <div class="d-flex align-items-end justify-content-center" style="height:250px;">
      <i class="far fa-comment" style="font-size: 7.5em;"></i>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <p>メッセージしたい相手を検索から探そう！</p>
    </div>
  </div>
  <div class="col-md-3 col-1"></div>
</div>