/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

*{
  margin: 0px;
  padding: 0px;
}

// 目に付く所の書体をこれで統一
.meet_snow {
  font-family: 'Corben', cursive;
}

// DMの自分が送った側のbg-color
.bg-dm {
  background:rgba(51,112,121,0.1);
}

// scssで指定しないと綺麗な丸にならなかったので指定。こっちはuser/showページ用のサイズ。
.rounded-circle {
  width: 120px;
  height: 120px;
}
// こっちが一覧表示用のサイズにしてます。
.rounded-circle2 {
  width: 48px;
  height: 48px;
}

// プロフィール欄の名前表示
 .profile-name {
   font-family: 'Oswald', sans-serif;
   font-size: 25px;
 }

// ページャのcss
 .pagination {
  justify-content: center;
  color:#17a2b8;
};

// リンクになってる文字全ての色調整
.link {
    text-decoration: #17a2b8;
    color:#17a2b8;
}

a:hover {
text-decoration:none;
color:#6FA8E1;
}

.index-right {
  background-color: #F4F7FA;
}
.index-post {
  background-color: #F4F7FA;
}

.index-search {
  background-color:#F4F7FA;
}


.login_page {
  background-color:	#63C3D3;
}

.user_search {
 background-color:#6FA8E1;
}
.error-message {
  margin-left: 30px;
}


// ここから下全てはTopページに対しての記述です
.line {
    width: 0%;
    height: 1px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    z-index: 5;
}

.up {
    width: 100%;
    height: 50%;
    background-color: #000;
    position: fixed;
    z-index: 4;
}

.down {
    width: 100%;
    height: 50%;
    background-color: #000;
    position: fixed;
    bottom: 0;
    z-index: 4;
}

.top-main {
  position: relative;
  width: 100%;
  height: 100%;
}

.top-image1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 3;
}
.top-image2 {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 2;
}
.top-image3 {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.top-image4 {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.top-meet_snow {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,70%);
  color: #fff;
  font-size: 50px;
  border: 1px solid;
  padding: 88px;
  font-family: serif;
  z-index: 3;
}

.top-meet_snow:hover {
  background-color: #696969;
  opacity: 0.2;
  z-index: 3;
}

.first-meet_snow {
  position: absolute;
  top: 70%;
  left: 37%;
  color: #fff;
  font-size: 80px;
  font-family: 'Permanent Marker', cursive;
}

.top-sub {
  position: absolute;
  right: 0;
  top: 10%;
  transform: translate(-30%,30%);
  color: #000000;
  font-size: 30px;
  border: 1px solid;
  padding: 10px;
  font-family: serif;
  z-index: 3;
  background: rgba(115,115,115,0.2);
}

.heart {
  width: 100px;
  height: 100px;
  background: url(https://nelog.jp/wp-content/uploads/2016/03/heart_animation.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
.heart:hover {
  width: 100px;
  height: 100px;
  background: url(https://nelog.jp/wp-content/uploads/2016/03/heart_animation.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.heart:active {
  background-position: -2800px 0;
  -webkit-transition: background 1s steps(28);
  transition: background 1s steps(28);
}