/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// 目に付く所の書体をこれで統一
.meet_snow {
  font-family: 'Corben', cursive;
}

// DMの自分が送った側のbg-color
.bg-dm {
  background:rgba(51,112,121,0.1);
}

// scssで指定しないと綺麗な丸にならなかったので指定。こっちはuser/showページ用のサイズ。
.rounded-circle {
  width: 120px;
  height: 120px;
}
// こっちが一覧表示用のサイズにしてます。
.rounded-circle2 {
  width: 48px;
  height: 48px;
}

// プロフィール欄の名前表示
 .profile-name {
   font-family: 'Oswald', sans-serif;
   font-size: 25px;
 }

// ページャのcss
 .pagination {
  justify-content: center;
}
.pagination>li {
  border-radius: 15px;
}
.pagination>li>a {
  border: none;
  color: black;
  border-radius: 15px !important;
}
.pagination>.active>a {
  background-color: #343A40 !important;
  border-radius: 15px;
  overflow: hidden;
}
.pagination>li>a:hover {
  color: black;
  background-color: #f3f0ec;
}
